<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- 콘솔에 로그 출력 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- 파일에 로그 출력 -->
        <RollingFile name="File" fileName="logs/fisub-logs.log"
                     filePattern="logs/fisub-logs-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%c{1}:%L - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- 특정 패키지에 대한 로그 레벨 설정 -->
        <Logger name="com.woorifisa.backend.main" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- 루트 로거 설정: 기본적으로는 출력하지 않음 -->
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
